<div class="help_slider_popup" ng-show="data.isShowing()">
	<div class="help_slider_popup_background"></div>
	<div class="help_slider_popup_box">
		<div class="header">
			Quick Tour
			<div class="help_close_btn" ng-click="data.hide()">
				<span class="glyphicon glyphicon-remove" style="position: relative; top: -7px;"></span>
			</div>
		</div>
		<div class="help-content-spacer"></div>
		<div class="help-infos" id="{{'feature' + $index }}" ng-repeat="item in data.getFeatures()" 
			ng-class="{'help-content-left' : $index < data.getCurrentFeature(), 
					   'help-content-middle' : $index == data.getCurrentFeature(), 
					   'help-content-right' : $index > data.getCurrentFeature()}">
			<div class="title">
				{{item.getTitle()}}
			</div>
			
			<div class="description">
				{{item.getDescription()}}
			</div>
			
			<div class="controls">
				<!-- Slide controls:  -->
				<!-- <button class="btn btn-default" ng-click="data.startTimer()" ng-hide="data.isIntervalRunning()">
					<i class="fa fa-pause"></i>Pause
				</button>
				<button class="btn btn-default" ng-click="data.stopTimer()" ng-show="data.isIntervalRunning()">
					<i class="fa fa-play"></i>Play
				</button> -->
			</div>
			
			<div class="image" ng-mouseover="data.setImageHover(true)" ng-mouseleave="data.setImageHover(false)">
				<div class="slider-left noselect" ng-click="data.previousImage()" ng-class="{'help-arrow-highlight' : data.getImageHover()}"><i class="fa fa-chevron-left"></i></div>
				<div class="image-content">
					<img ng-src="{{img}}" ng-repeat="img in item.getImages()" class="{{$index}}" ng-show="$index == item.getCurrentImage()">
				</div>
				<div class="slider-right noselect" ng-click="data.nextImage()" ng-class="{'help-arrow-highlight' : data.getImageHover()}"><i class="fa fa-chevron-right"></i></div>
			</div>
		</div>
		
		<div class="help-sections">
			<div class="previous" ng-click="data.previous()">
				<span ng-show="data.hasPrevious()">
					<i class="fa fa-chevron-left"></i>Previous
				</span>
			</div>
			
			<div class="sections">
				<i class="fa" ng-class="{'fa-circle' : $index != data.getCurrentFeature(), 'fa-circle-o' : $index == data.getCurrentFeature()}" 
				ng-click="data.goToFeature($index)" ng-repeat="i in data.getFeatures()"></i>
			</div>
			
			<div class="next" ng-click="data.next()">
				<span ng-show="data.hasNext()">
					Next<i class="fa fa-chevron-right"></i>
				</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
